<%- include('partials/header'); -%>

<form>
    <h2> sign in </h2>
    <label for = "email">email</label> 
    <input type="text" name="email" required />
    <div class="email error"></div>
    <label for="password">password</label>
    <input type="password" name="password" required/>
    <div class="password error"></div>
    <button>Sign in</button>
    
    </form>
    
    
    <script>
    const emailError = document.querySelector('.email.error')
    const passwordError = document.querySelector('.password.error')
    const form = document.querySelector('form')
    
    
    form.addEventListener('submit', async (e) => {
        e.preventDefault()
        
        const email = form.email.value
        const password = form.password.value
        
        try {
        const res = await fetch('/login', {   //2nd arguement options object
            method: 'POST',
            body:   JSON.stringify({email:email, password:password}),
            
            headers: {'Content-Type': 'application/json'}
        })
        const data = await res.json()
        if(data.errors) {
            emailError.textcontent = data.errors.email
            passwordError.textcontent = data.errors.email
        }
        if(data.user){
            location.assign('/') //The Location.assign() method causes the
            // window to load and display the document at the URL specified
        }



    }
    catch(err){
        console.log(err)
    }

})
    
    

    
    </script>

<%- include('partials/footer'); -%>